
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: rgba(84, 166, 225, 0.4);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #e2eaee;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
}

.hero-text h1 span {
    color: #e4e8e9;
}

.hero-text button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #1eade5;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #0a0d0e;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

/* SECTIONS */
section {
    padding: 70px 10%;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill {
    background: #6089cb;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    background: #345892;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* CONTACT */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: none;
}

form button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}
